<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <template id="menu_plus" inherit_id="web_responsive.menu" name="Customized Menu">
        <xpath expr="//div[@id='appDrawerAppPanelHead']/div[last()]" position="attributes">
            <attribute name="class">hidden-xs hidden-md col-md-6</attribute>
        </xpath>
    </template>
</odoo>