@media all and (max-width: 910px) {
    ul#top_menu{
        display:none;
    }
}

@media all and (max-width: 910px) {
    .top_menu_burger{
        display:block!important;
    }
}

@media all and (min-width: 910px) {
    .top_menu_burger{
        display:none!important;
    }
}

.open > .dropdown-menu {
    display: block!important;
}

.top_menu_burger {
  position: absolute;
  top: 0;
  left: 153px;
  width: 54px;
  height: 54px;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  display: none;
}
  
.top_menu_burger::after {
    content: '';
    right: 0;
    width: 1px;
    top: 0;
    bottom: 0;
    background: #ededed;
    position: absolute; 
    }
    
    
@media (max-width: 380px) {
  .top_menu_burger {
        left: 122px; 
    } 
}