.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
    li {
        display: block;
        position: relative;
        background-color: #16a085;
        color: #FFF;
        padding: 2em;
        text-align: right;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}

.snippet_tmonial {
  border: 1px solid #EAEAEA;
  padding: 20px;
}

// These lines will add a default style for our snippet. Now let's create our custom rules for the options.

.snippet_tmonial {
  border: 1px solid #EAEAEA;
  padding: 20px;

  &.opt_shadow img {
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.4);
  }

  &.opt_grey_bg {
    border: none;
    background-color: #EAEAEA;
  }
}
@media (min-width: 979px) {
    #phones {
        font-size: large;
    }
}
.navbar-fixed-top, .navbar-fixed-bottom{
    z-index:999;
}
.navbar-static-top{
    z-index:998;
}
#wrapwrap {
        top: 60px;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  /*main {
        width: calc(~"100% - 235px")!important;
  }*/
  #sidebar.affix-top {
    position: static;
  	/*width:220px;*/
  }

  #sidebar.affix-bottom {
    position: relative;
    /*width:220px;*/
  }

  #sidebar.affix {
    position: fixed;
    top:55px;
   /* width:220px;*/
  }
}
/*
#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#sidebar li li.active {
  	border:0 #ccc solid;
  	border-right-width:3px;
}
*/

#sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
#sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
#sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
#sidebar .active a:hover {
    background-color: #428bca;
}
#sidebar .text-overflow a,
#sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
#sidebar .pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
#sidebar .pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

#sidebar  .left-menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
}

#sidebar  .category-caption {
    padding-left: 10px;
}
#sidebar .category-image img{
    width: 32px;
    height: 32px;
}

#sidebar li:hover .category-image img{
    border-radius: 10%;
    width: 64px;
    height: 64px;
        -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
}

.o_livechat_button{
    right: auto;
    left: 0;
    width: 235px;
    font-size: small;
}

.dropdown_sorty_by{
    position: fixed;
    z-index: 999;
    right: 9px;
    top: 211px;
}
.dropdown_sorty_by > a.btn{
    height: 52px;
    width: 52px;
    border-radius: 50px;
    padding: 10px 0;
}
.dropdown_sorty_by ul.dropdown-menu{
    left: -100px;

}
.slick-slide{
    margin:2px;
}
.slick-track{
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
}
body.editor_enable #leftCol{
    display:none;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
}
/*
body.editor_enable main{
    width:100%;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
}
*/
ul.homepage-categories {
    width: 100%;
    margin: 0;
    padding: 0;
}
.homepage-categories li {
    list-style:none;
}

.homepage-categories li a{
        text-decoration: none;
}
.homepage-categories li a:hover{
        box-shadow: 0 0 0 2px rgba(51, 104, 183, 0.32);
}

#city .modal-body a {
    display: block;
}

#region-list, #region-list ul {
    list-style: none;
}

span.region-name {
    position: absolute;
    background: #F7F7F7;
    display: block;
    float: none;
    padding: 2px 10px;
    font-size: medium;
}


ul.cities-list {
    height: 150px;
    overflow-y: auto;
    display: block;
    float: none;
    padding-top: 29px;
}

#region-list>li {
    width: calc(~"25% - 5px");
    display: inline-block;
    float: left;
    padding: 5px;
    margin: 8px 0;
}
ul#region-list {
    padding: 0;
    margin: 20px;
}

marquee {
    color: red;
}

.css_quantity {
    width: 125px;
    margin: 0 auto;
}

#add_to_cart{
    border-radius: 0;
}
@media (min-width: 979px) {
    #thumb_img_add {
        float: left;
        width: 87px;
        margin-left: 1px;
    }

    #carousel-custom{
        height: 300px;
        overflow-y: auto;
        margin: 7px 0px;
    }

    #carousel-custom .image_thumb{
        height: 67px !important;
    }

    #carousel-custom .carousel-indicators li{
        display:block!important;
        text-align: center;
        text-align: -webkit-center;
    }
}
.image_bigsize{
    background-color: white!important;
}
#product_details h1 {
    font-size:26px;
}
.o_rating_star_card{
    display: inline-block;
}
.js_add_cart_variants > li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

#table-main-attrs {
    width: 100%;
    font-size: 12px;
}
.attr-name {
    background: top left url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAANCAIAAAABnFjhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpi/P//PwMMMDEggUHAuX79OpwDEGAAGB4FnHfhVQUAAAAASUVORK5CYII=') repeat-x;
    word-break: break-word;
}
.attr-name span{
    background-color: white;
}

.js_add_cart_variants > li > div > span {
    padding-right:10px;
}
.js_add_cart_variants .alert-success {
    padding: 5px;
}

#table-main-attrs td{
    width: 50%;
    vertical-align: top;
}

#attr-color span {
    border: 1px solid rgba(128, 128, 128, 0.14);
    padding: 0 3px;
    white-space: nowrap;
    display: inline-block;
    margin: 1px 0;
}

.breadcrumb {
    font-size: 85%!important;
    padding: 10px 0!important;
    margin: 0!important;
    background:none;
}

#leftCol{
    display:none;
}

a#gotodescription {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

@media (min-width: 979px) {
    #product-card {
        display:flex!important;
    }
    #product-image-block {
        width: auto;
        display: inline-flex;
    }
    #product_details{
        width:auto;
    }
}

@media (max-width: 978px) {
    #product-image-block {
        padding: 0 5px;
    }
}

footer {
    background-color: #4a4a4d;
    color: #fff;
}

footer a {
    color: #fec431;
    text-decoration: underline;
}


footer a:hover {
    color: #fec431;
    text-decoration: none;
}

#feedback-footer-form{
    border: 1px solid #6f6f6f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#russia{
    background-image: url(/theme_l/static/src/img/russia.png);
    height: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    margin: 0 auto;
    padding: 22px;
}

#russia a{
    color: black;
    text-shadow: 0px 0px 9px rgb(255, 255, 254);
    font-size: 15px;
}

.city-list{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.city-city {
    flex: 0 0 25%;
    border: 1px solid #eaeaea;
    padding: 0.5em;
    display: flex;
    box-sizing: border-box;
    align-items: flex-end;
    font-size: large;
}