.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
    li {
        display: block;
        position: relative;
        background-color: #16a085;
        color: #FFF;
        padding: 2em;
        text-align: right;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}

.snippet_tmonial {
  border: 1px solid #EAEAEA;
  padding: 20px;
}

// These lines will add a default style for our snippet. Now let's create our custom rules for the options.

.snippet_tmonial {
  border: 1px solid #EAEAEA;
  padding: 20px;

  &.opt_shadow img {
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.4);
  }

  &.opt_grey_bg {
    border: none;
    background-color: #EAEAEA;
  }
}

#leftCol{
    width: 230px;
}
.navbar-fixed-top, .navbar-fixed-bottom{
    z-index:999;
}
.navbar-static-top{
    z-index:998;
}
#wrapwrap {
        top: 60px;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	width:220px;
  }

  #sidebar.affix-bottom {
    position: relative;
    width:220px;
  }

  #sidebar.affix {
    position: fixed;
    top:55px;
    width:220px;
  }
}
/*
#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#sidebar li li.active {
  	border:0 #ccc solid;
  	border-right-width:3px;
}
*/

#sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
#sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
#sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
#sidebar .active a:hover {
    background-color: #428bca;
}
#sidebar .text-overflow a,
#sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
#sidebar .pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
#sidebar .pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

#sidebar  .left-menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
}

#sidebar  .category-caption {
    padding-left: 10px;
}
#sidebar .category-image img{
    width: 32px;
    height: 32px;
}

#sidebar li:hover .category-image img{
    border-radius: 10%;
    width: 64px;
    height: 64px;
        -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
}